* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eae2b7;
  font-family: Arial, Helvetica, sans-serif;
  color: #003049;

  width: 100%;
  overflow-x: hidden;
}

nav {
  background-color: #003049;
  color: #eae2b7;
  padding: 40px 50px;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;

  a {
    color: #eae2b7;
    text-decoration: none;
    margin-left: 30px;
  }
}

header {
  background-color: #fcbf49;
  color: #003049;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 800px;
  width: 100%;

  h1 {
    font-size: 80px;
    text-transform: uppercase;
  }
}

#about {
  height: 800px;

  display: flex;

  div {
    height: 800px;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 70%;
      border-radius: 90px;
    }

    span {
      padding: 30px;
      h3 {
        font-size: 40px;
      }
      p {
        font-size: 20px;
      }
      button {
        background-color: #003049;
        color: #eae2b7;
        padding: 10px 20px;
        a {
          color: #eae2b7;
          font-size: 20px;
          text-decoration: none;
        }
      }
    }
  }
}

#contact {
  height: 800px;

  display: flex;

  div {
    height: 800px;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 70%;
      border-radius: 90px;
    }

    span {
      padding: 30px;
      h3 {
        font-size: 40px;
      }
      p {
        font-size: 20px;
      }
      button {
        background-color: #003049;
        color: #eae2b7;
        padding: 10px 20px;
        a {
          color: #eae2b7;
          font-size: 20px;
          text-decoration: none;
        }
      }
    }
  }
}

footer {
  background-color: #003049;
  padding: 50px;
  text-align: center;
  color: #eae2b7;
}

#Contact-box {
  height: 1000px;

  display: flex;
  align-items: center;
  justify-content: center;

  form {
    height: 800px;
    width: 500px;
    background-color: #003049;
    color: #eae2b7;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      margin: 50px;
      font-size: 40px;
    }
    input {
      padding: 15px 18px;
      font-size: 20px;
      width: 80%;
      background-color: transparent;
      border: 1px solid #eae2b7;
    }
    button {
      color: #003049;
      background-color: #eae2b7;
      width: 90%;
      font-size: 20px;
      padding: 10px 20px;
      a {
        color: #eae2b7;
        font-size: 20px;
        text-decoration: none;
      }
    }
  }
}

#about-page {
  padding: 30px;
  div {
    padding: 30px;

    h3 {
      font-size: 50px;
    }
    p {
      font-size: 25px;
    }
  }
}

#section-page {
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;

  div{
    width: 90%;
    background-color: #fcbf49;
    border: 2px solid #003049;
    border-radius: 20px;
    margin: 20px 0;
    padding: 30px;

    button {
        background-color: #003049;
        color: #eae2b7;
        padding: 10px 20px;

        margin: 30px 0;
        a {
          color: #eae2b7;
          font-size: 20px;
          text-decoration: none;
        }
      }


  }
 
}
