#services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  font-family: "Telegraf Regular";
  background-color: rgba(255, 255, 255, 0.424);

  h2 {
    margin-bottom: 20px;
    font-size: 50px;
    color: #008080;
  }

  div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 2vw;

    div {
      cursor: pointer;
      text-align: center;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      min-width: 250px;
      width: 25vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.068);
      transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease,
        background-color 0.3s ease;

      img {
        width: 30%;
        object-fit: cover;
        color: #008080;
        margin-bottom: 10px;
      }

      h3 {
        font-size: 25px;
        color: black;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        text-shadow: 0;
      }

      p {
        text-shadow: 0;
        color: #2e2e2e;
        font-size: 16px;
      }

      &:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 20px rgba(58, 58, 58, 0.1);
        color: #fff;
        background-color: #008080;

        h3 {
          color: #ffffff;
        }

        p {
          color: #ffffff;
        }

        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}
